<div class="row">
  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd><%= @contact.name %></dd>
    
    <dt>URL</dt>
    <dd><%= @contact.url %></dd>
    
    <dt>Token</dt>
    <dd><%= @contact.token %></dd>
  </dl>
</div>