<div class="row">
  <div class="col-md-3 well">
    <form method="post" action="/contact" role="form">
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter name..." /> 
      </div>

      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="url" class="form-control" id="url" placeholder="Enter URL..." /> 
      </div>
      
      <div class="form-group">
        <label for="token">Token</label>
        <input type="text" name="token" class="form-control" id="token" placeholder="Enter token..."  /> 
      </div>
      
      <input type="submit" value="Create Contact" class="btn btn-primary" />
    </form>
  </div>
  
  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Token</th>
          <th>URL</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.each do |contact| %>
        <tr>
          <td>
            <a href="/contact/<%= contact.id %>">
              <%= contact.name %>
            </a>
          </td>
          <td><%= contact.token %></td>
          <td><%= contact.url %></td>
          <td><a class="btn btn-danger" href="/contact/<%= contact.id %>/delete">Delete</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>