<div class="row">
  <div class="col-md-3 well">
    <form method="post" action="/handshake_request" id="handshake_request" role="form">
      
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter name..." /> 
      </div>
      
      <div class="form-group">
        <label for="url">URL</label>  
        <input type="text" name="url" id="url" class="form-control" placeholder="Enter URL..." /> 
      </div>
      
      <input type="submit" value="Send Handshake Request" class="btn btn-primary" />
    </form>
  </div>
  
  <div class="col-md-9">
    
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @handshake_requests.each do |handshake| %>
        <tr>
          <td>
            <%= handshake.name %>
          </td>
          
          <td>
            <%= handshake.status %>
          </td>
          
          <td>
            <% if !handshake.failed_at.nil? && handshake.sending? %>
              <a class="btn btn-warning" href="/handshake_request/<%= handshake.id %>/resend">Resend</a>
            <% elsif handshake.approved_at.nil? && !handshake.sending? %>
              <a class="btn btn-success" href="/handshake_request/<%= handshake.id %>/approve">Approve</a>
            <% end %>
            <a class="btn btn-danger" href="/handshake_request/<%= handshake.id %>/delete">Delete</a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    
  </div>
</div>