<% if @contact %>
  <div class="row">
    <div class="col-md-3 well">

      <div id="contacts">
        <% @contacts.each do |contact| %>
          <div class="contact">
            <% if @contact && @contact.id == contact.id %>
              <a href="/<%= contact.id %>" class="current"><%= contact.name %></a>
            <% else %>
              <% if contact.unread_messages_count > 0 %>
                <a href="/<%= contact.id %>">
                  <span class="badge"><%= contact.unread_messages_count %></span>
                  <%= contact.name %>
                </a>
                <% else %>
                <a href="/<%= contact.id %>"><%= contact.name %></a>
                <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-md-9">
    
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-right">
            <a href="/contact/<%= @contact.id %>">
              <span class="glyphicon glyphicon-cog"></span>
            </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body" id="messages">
          <dl>
            <% @contact.messages.each do |message| %>
              <% message.mark_read! %>
              <% if message.sending? %>
                <dt>Me</dt>
                <dd>
                  <%= message.formatted_body %>
            
                  <% if !message.failed_at.nil? %>
                    <a class="resend" href="/contact/<%= @contact.id %>/message/<%= message.id %>/resend">Resend</a>
                  <% end %>
                </dd>
              <% else %>
                <dt><%= @contact.name %></dt>
                <dd><%= message.formatted_body %></dd>
              <% end %>
            <% end %>
          </dl>
        </div>
        <div class="panel-footer">
          
          <div class="form-group">
            <form method="post" action="/contact/<%= @contact.id %>/message">
              <div class="input-group">
                <input type="text" class="form-control" id="message" name="message">                
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" id="send-message">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>

        </div>
      </div>
    

    </div>
  </div>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
    function getContactMessages() {
      $.get('/contact/<%= @contact.id %>/messages', function(data) {
        
        if(data.length > 0) {
          jQuery.each(data, function(i, val){
            $('#messages dl').append('<dt><%= @contact.name %></dt><dd>' + val + '</dd>')
          });
          
          $("#messages").animate({ scrollTop: $('#messages')[0].scrollHeight}, 1000);
        }
        
        setTimeout(getContactMessages, 1000);
      });
    }
    
    $('#messages').scrollTop($('#messages')[0].scrollHeight);
    
    getContactMessages();
  });
  </script>

<% else %>
  <div class="jumbotron">
    <h1>Welcome to Augmented!</h1>
    <p>
      Augmented lets you talk to your friends in a simple and intuitive way. 
      Communication with your friends should be easy.
      The web should empower you and your friends to have as much fun as possible.
    </p>
    <p>
      If you know your friends augmented token then you can add them as a contact.
      Otherwise, you can send a handshake request to your friends augmented URL. 
    </p>
    <p>
      <a class="btn btn-primary btn-lg" role="button" href="/contacts">Create a Contact</a>
      <a class="btn btn-primary btn-lg" role="button" href="/handshake_requests">Send a Handshake Request</a>
    </p>
  </div>
<% end %>
