<!DOCTYPE html>
<html lang="en">
<head>
  <title>Augmented</title>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <style>
  body {
    width: 100%;
    height: 100%;
  }
  #main-nav {
    margin-top: 5px;
  }
  #contacts a.current {
    font-weight: bold;
    color: #000;
  }
  #messages {
    height: 400px;
    overflow-y: scroll;
  }
  </style>
</head>
<body>
  
  <div class="row" id="main-nav">
    <div class="col-md-10 col-md-offset-1">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Augmented</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              
              <%= li_current('/contacts') %>
                <a href="/contacts">
                  <span class="glyphicon glyphicon-user"></span>
                  Contacts
                </a>
              </li>
              
              <%= li_current('/handshake_requests') %>
                <a href="/handshake_requests">
                  <span class="badge"><%= @handshake_request_count %></span>
                  Handshake Requests 
                </a>
              </li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </div>

  <div class="container">
    
    <% if flash[:notice] %>
      <div id="flash" class="alert alert-info">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    
    <%= yield %>
    
  </div>
  
</body>
</html>
